@import url(reset.css);

#wrapper {
    width: 607px;
	height: 500px;
    background: url(../images/main_bg.png) 100% 100% no-repeat;
	background-size: cover;
}
	
#logo {
	width: 607px;
	margin: 0 auto;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-left: 110px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 45px;
	font-weight: bold;
	color: #d8cb4b;
}


#foto {
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

#batl {
	margin-top: 10px;
}

#lenta {
	margin-top: -30px;
	margin-left: -35px;
}

h2 {
	font: bold 18px Tekton Pro;
	margin-top: -85px;
	margin-left: 40px;
	font-size: 50px;
	font-weight: bold;
	color: #d8cb4b;
	text-decoration: blink;
}

table {
    width: 60%;
    background: white;
    color: black;
	margin-top: 10px;
	margin-left: 30px;
}
th { 
	font-family : Arial;
	padding: 10px;
}
   
td{
	font-family : Arial;
	background: gray;
	color: white;
    padding: 10px;
}

#men {
	margin-left: 450px;
	margin-top: -350px;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	color: black;
}


