@import url(reset.css);

#wrapper {
    width: 607px;
	height: 500px;
    background: url(../images/main_bg.png) 100% 100% no-repeat;
	background-size: cover;
}
	
#logo {
	width: 607px;
	margin: 0 auto;
}

table {
    width: 60%;
    background: white;
    color: black;
	margin-top: 10px;
	margin-left: 30px;
}
th {
    padding: 10px;
}
   
td{
    background: gray;
	color: white;
    padding: 15px;
}

#men {
	margin-left: 450px;
	margin-top: -330px;
}
